.comment-input {
  margin: 10px auto;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  padding: 0 20px;
  overflow: hidden;
}
.comment-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.comment-field-name {
  width: 80px;
}
.comment-field-input {
  flex: 1;
}
input {
  font-size: 16px;
  width: 100%;
  height: 2em;
}
textarea {
  font-size: 16px;
  width: 100%;
  height: 8em;
}
.comment-field-button {
  float: right;
  margin: 1em 0;
}
.comment-field-button::after {
  content: '';
  display: block;
  clear: both;
}

.comment-field-button > button {
  background-color: #0080FF;
  padding: .5em 1em;
  font-size: 14px;
  border: none;
  color: #fff;
}