@import '~antd/dist/antd.css';

.todoList {
  width: 50%;
  margin: 30px auto;
}

.todoList > .todoList__header {
  display: flex;
}

.todoList > .todoList__header > .todoList__header_button {
  margin-left: 10px;
}

.todoList > .todoList__main {
  margin-top: 20px;
}